/******************************************************************************/
/*                                                                            */
/* This file defines the styles of the Summary Pane.                          */
/*                                                                            */
/* There are many FXCSS properties you can use to reproduce the JavaFX API.   */
/*                                                                            */
/* Go to https://docs.oracle.com/javase/8/javase-clienttechnologies.htm       */
/*   In the Reference section, click CSS Reference Guide.                     */
/*                                                                            */
/*   To style a widget, look up the properties of its class and superclasses, */
/*     e.g. for a Label: Node > Parent > Region > Control > Labeled > Label   */
/*   For any given property, look up allowed values by their <type>.          */
/*   For example, look under <paint> for gradients and <effects> for shadows. */
/*                                                                            */
/******************************************************************************/

/* TODO #03: Define styling for widget classes and instances in Summary.fxml  */

/******************************************************************************/
/* Styling for the root BorderPane of the Summary Pane itself                 */
/******************************************************************************/

.root
{
    -fx-background-color: linear-gradient(to bottom, #56c1ff, #f8ba00);
}

/******************************************************************************/
/* Styling for Widgets in the Summary Pane                                    */
/******************************************************************************/

.label
{
    -fx-alignment: baseline-center;
    -fx-text-alignment: center;
    -fx-font-family: sans-serif;
    -fx-wrap-text: true;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, gray, 5, 0, 3, 3);

}

.image-view
{
    -fx-effect: dropshadow(gaussian, gray, 5, 0, 3, 3);
}

/******************************************************************************/
